<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
  <div class="alert alert-danger">
    <%= alert %>
    <ul>
      <% @message.errors.full_messages.each do |full_message| %>
      <li>
        <%= full_message %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>
<div>
  <div>
    <div>名前:</div>
    <%= f.text_field :name %>
  </div>
  <div>
    <div>内容:</div>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
</div>
